// Variables

//fonts
$font-open-sans: 'Open Sans', sans-serif;
$font-source-sans: 'Source Sans Pro', sans-serif; 

//font sizes
$font-base: 14px;
$font-title-size: 20px;
$font-middle-size: 16px;
$font-h1-size: 35px;

//colors
$color-white: #fff;
$color-title: #333b46;
$color-text-base: #81868e;
$color-dark-grey: #464646;
$color-green: #19bd9a;
$color-green-hover: #38ffd4;
$color-portfolio: #f3f3f3;

// padding 

$box-padding: 85px 0px 105px;




