.header {
    background: url('../img/header.jpg') no-repeat center / cover;
    padding: 40px 0px 75px;

    &__title {
        padding: 220px 0px;
        text-align: center;
        color: $color-white;
    }

    &__title h1 {
        @include title-base;
        padding-bottom: 45px;
        color: $color-white;
        font-size: $font-h1-size;
        text-transform: uppercase;
    }

    &__title h3 {
        font-size: $font-middle-size;
        font-weight: 300;
    }

}